apiVersion: v2
name: s3proxy
description: Deployment for s3proxy

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.1.1-next.3

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "v2.1.1_1.1.2"
sources:
  - https://github.com/s3proxy-distro/helm-s3proxy
  - https://github.com/s3proxy-distro/container-s3proxy
maintainers:
  - name: ryanfaircloth
annotations:
  artifacthub.io/changes: "##
    [1.1.1-next.3](https://github.com/s3proxy-distro/helm-s3proxy/compare/v1.1.\
    1-next.2...v1.1.1-next.3) (2023-10-03)



    ### Bug Fixes


    * add release notes
    ([7645003](https://github.com/s3proxy-distro/helm-s3proxy/commit/76450031b9\
    403b52f2a292652ff52c0b4ec94b2b))

    * Update ci-main.yml
    ([44c07c4](https://github.com/s3proxy-distro/helm-s3proxy/commit/44c07c49e2\
    ace51fb42250ca217326e42b352bc6))



    \n"
